<style>
  @import url('https://fonts.googleapis.com/css2?family=Inter&family=Montserrat:wght@700&family=Roboto:wght@400;500&display=swap');
</style>
<footer class="page-footer">
  <div class="info-all container">
    <div class="page-footer__info">
      <div class="page-footer__logo">
        <svg class="page-footer__tomato-logo" width="32" height="32">
          <use href="./images/footer-icons.svg#icon-logo"></use>
        </svg>
        <h1 class="page-footer__title">CUCINA</h1>
      </div>
      <nav class="page-footer__navigation">
        <ul class="page-footer__navigation-list">
          <li class="page-footer__navigation-item">
            <a href="#home" class="link">Home</a>
          </li>
          <li class="page-footer__navigation-item">
            <a href="#products" class="link">Store</a>
          </li>
          <li class="page-footer__navigation-item">
            <a href="#recipes" class="link">Recipes</a>
          </li>
          <li class="page-footer__navigation-item">
            <a href="#gallery" class="link">Gallery</a>
          </li>
        </ul>
      </nav>
      <address class="page-footer__adress-info">
        <ul class="page-footer__adress-list">
          <li class="page-footer__address-item">
            <div class="page-footer__address-card">
              <svg class="page-footer__address-icon" width="24" height="24">
                <use href="./images/footer-icons.svg#icon-location"></use></svg
              ><a
                class="page-footer__address-link"
                href="https://goo.gl/maps/XPu2avVx7oFHy5nq6"
                target="_blank"
                >Elvia Elviaveien 1, 1234 Oslo</a
              >
            </div>
          </li>
          <li class="page-footer__address-item">
            <div class="page-footer__address-card">
              <svg class="page-footer__address-icon" width="24" height="24">
                <use href="./images/footer-icons.svg#icon-email"></use></svg
              ><a
                class="page-footer__address-link"
                href="mailto:willie.jennings@example.com"
                >willie.jennings@example.com</a
              >
            </div>
          </li>
        </ul>
      </address>
    </div>
    <div class="socials-footer">
      <ul class="socials-list-footer list">
        <li class="socials-list-footer__item">
          <a href="" class="socials-list-footer__link"
            ><svg class="socials-list-footer__icon" width="16" height="16">
              <use href="./icons.svg#icon-social-tumblr"></use></svg
          ></a>
        </li>
        <li class="socials-list-footer__item">
          <a href="" class="socials-list-footer__link"
            ><svg class="socials-list-footer__icon" width="16" height="16">
              <use href="./icons.svg#icon-social-instagram"></use></svg
          ></a>
        </li>
        <li class="socials-list-footer__item">
          <a href="" class="socials-list-footer__link"
            ><svg class="socials-list-footer__icon" width="16" height="16">
              <use href="./icons.svg#icon-social-youtube"></use></svg
          ></a>
        </li>
        <li class="socials-list-footer__item">
          <a href="" class="socials-list-footer__link"
            ><svg class="socials-list-footer__icon" width="16" height="16">
              <use href="./icons.svg#icon-social-twitter"></use></svg
          ></a>
        </li>
      </ul>
    </div>
    <div class="page-footer__agreement">
      <p class="page-footer__agreement-text">
        By using this website, you agree to the
      </p>
      <a class="page-footer__agreement-rules" href="#">Terms of Service</a
      ><span class="page-footer__agreement-text">and </span
      ><a class="page-footer__agreement-rules" href="#">Privacy Policy</a>
    </div>
  </div>
</footer>
