<section class="section products" id="products">
  <div class="container">
    <h2 class="products__title hidden"></h2>
    <div class="slideshow-container">
      <div class="mySlides fade">
        <div class="products__double">
          <div class="products__box">
            <div class="products__tumb">
              <picture
                ><source
                  srcset="
                    ./images/recepts-desktop/x1/tomato.jpg    1x,
                    ./images/recepts-desktop/x2/tomato@2x.jpg 2x
                  "
                  media="(min-width:1020px)" />
                <source
                  srcset="
                    ./images/mob-prod/1x/image-3.jpg    1x,
                    ./images/mob-prod/2x/image-3@2x.jpg 2x
                  " />
                <img
                  src="./images/recepts-desktop/x1/tomato.jpg"
                  alt="tomatos"
                  class="products__img"
              /></picture>
            </div>
            <div class="products__content">
              <h3 class="products__sub-title">Classic sauce</h3>
              <p class="products__text">
                The most delicate taste of tomatoes, combined with branded
                spices and white wine, will make your dish incredibly tasty.
              </p>
              <button
                class="products__btn button"
                type="button"
                onclick="openModal() "
              >
                Buy now
              </button>
            </div>
          </div>
          <div class="products__box">
            <div class="products__tumb">
              <picture
                ><source
                  srcset="
                    ./images/recepts-desktop/x1/cheele_2.jpg    1x,
                    ./images/recepts-desktop/x2/cheele_2@2x.jpg 2x
                  "
                  media="(min-width:1020px)" />
                <source
                  srcset="
                    ./images/mob-prod/1x/image-2.jpg    1x,
                    ./images/mob-prod/2x/image-2@2x.jpg 2x
                  " />
                <img
                  src="./images/recepts-desktop/x1/cheele_2.jpg"
                  alt="cheele"
                  class="products__img"
              /></picture>
            </div>
            <div class="products__content">
              <h3 class="products__sub-title">Spicy sauce</h3>
              <p class="products__text">
                For thrill-seekers, we added hot chili pepper to our sauce, it
                also reveals all the tastes and aromas of the sauce well.
              </p>
              <button
                class="products__btn button"
                type="button"
                onclick="openModal()"
              >
                Buy now
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="mySlides fade">
        <div class="products__double">
          <div class="products__box">
            <div class="products__tumb">
              <picture
                ><source
                  srcset="
                    ./images/recepts-desktop/x1/ketchup-or-tomato-sauce-with-fresh-tomato_2.jpg    1x,
                    ./images/recepts-desktop/x2/ketchup-or-tomato-sauce-with-fresh-tomato_2@2x.jpg 2x
                  "
                  media="(min-width:1020px)" />
                <source
                  srcset="
                    ./images/mob-prod/1x/ketchup-or-tomato-sauce-with-fresh-tomato-2-1.jpg    1x,
                    ./images/mob-prod/2x/ketchup-or-tomato-sauce-with-fresh-tomato-2-1@2x.jpg 2x
                  " />
                <img
                  src="./images/recepts-desktop/x1/ketchup-or-tomato-sauce-with-fresh-tomato_2.jpg"
                  alt="sauce light v1"
                  class="products__img"
              /></picture>
            </div>
            <div class="products__content">
              <h3 class="products__sub-title">Classic sauce</h3>
              <p class="products__text">
                The most delicate taste of tomatoes, combined with branded
                spices and white wine, will make your dish incredibly tasty.
              </p>
              <button
                class="products__btn btn"
                type="button"
                onclick="openModal()"
              >
                Buy now
              </button>
            </div>
          </div>
          <div class="products__box">
            <div class="products__tumb">
              <picture
                ><source
                  srcset="
                    ./images/recepts-desktop/x1/red-hot-chilli-sauce-tomato-ketchup-chilli-sauce-puree-with-chili-pepper-vegetables-tomatoes-and-garlic-on-on-black-stone-surface-top-view_1.jpg    1x,
                    ./images/recepts-desktop/x2/red-hot-chilli-sauce-tomato-ketchup-chilli-sauce-puree-with-chili-pepper-vegetables-tomatoes-and-garlic-on-on-black-stone-surface-top-view_1@2x.jpg 2x
                  "
                  media="(min-width:1020px)" />
                <source
                  srcset="
                    ./images/mob-prod/1x/red-hot-chilli-sauce-tomato-ketchup-chilli-sauce-puree-with-chili-pepper-vegetables-tomatoes-and-garlic-on-on-black-stone-surface-top-view-1.jpg    1x,
                    ./images/mob-prod/2x/red-hot-chilli-sauce-tomato-ketchup-chilli-sauce-puree-with-chili-pepper-vegetables-tomatoes-and-garlic-on-on-black-stone-surface-top-view-1@2x.jpg 2x
                  " />
                <img
                  src="./images/recepts-desktop/x1/red-hot-chilli-sauce-tomato-ketchup-chilli-sauce-puree-with-chili-pepper-vegetables-tomatoes-and-garlic-on-on-black-stone-surface-top-view_1.jpg"
                  alt="sauce spicy v1"
                  class="products__img"
              /></picture>
            </div>
            <div class="products__content">
              <h3 class="products__sub-title">Spicy sauce</h3>
              <p class="products__text">
                For thrill-seekers, we added hot chili pepper to our sauce, it
                also reveals all the tastes and aromas of the sauce well.
              </p>
              <button
                class="products__btn btn"
                type="button"
                onclick="openModal()"
              >
                Buy now
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="mySlides fade">
        <div class="products__double">
          <div class="products__box">
            <div class="products__tumb">
              <picture
                ><source
                  srcset="
                    ./images/recepts-desktop/x1/ketchup-or-tomato-sauce-with-fresh-tomato_1.jpg    1x,
                    ./images/recepts-desktop/x2/ketchup-or-tomato-sauce-with-fresh-tomato_1@2x.jpg 2x
                  "
                  media="(min-width:1020px)" />
                <source
                  srcset="
                    ./images/mob-prod/1x/ketchup-or-tomato-sauce-with-fresh-tomato-1.jpg    1x,
                    ./images/mob-prod/2x/ketchup-or-tomato-sauce-with-fresh-tomato-1@2x.jpg 2x
                  " />
                <img
                  src="./images/recepts-desktop/x1/ketchup-or-tomato-sauce-with-fresh-tomato_1.jpg"
                  alt="sauce light v2"
                  class="products__img"
              /></picture>
            </div>
            <div class="products__content">
              <h3 class="products__sub-title">Classic sauce</h3>
              <p class="products__text">
                The most delicate taste of tomatoes, combined with branded
                spices and white wine, will make your dish incredibly tasty.
              </p>
              <button
                class="products__btn btn"
                type="button"
                onclick="openModal()"
              >
                Buy now
              </button>
            </div>
          </div>
          <div class="products__box">
            <div class="products__tumb">
              <picture
                ><source
                  srcset="
                    ./images/recepts-desktop/x1/red-hot-chilli-sauce-tomato-ketchup-chilli-sauce-puree-with-chili-pepper-vegetables-tomatoes-and-garlic-on-on-stone-surface-top-view_1.jpg    1x,
                    ./images/recepts-desktop/x2/red-hot-chilli-sauce-tomato-ketchup-chilli-sauce-puree-with-chili-pepper-vegetables-tomatoes-and-garlic-on-on-stone-surface-top-view_1@2x.jpg 2x
                  "
                  media="(min-width:1020px)" />
                <source
                  srcset="
                    ./images/mob-prod/1x/red-hot-chilli-sauce-tomato-ketchup-chilli-sauce-puree-with-chili-pepper-vegetables-tomatoes-and-garlic-on-on-stone-surface-top-view-1.jpg    1x,
                    ./images/mob-prod/2x/red-hot-chilli-sauce-tomato-ketchup-chilli-sauce-puree-with-chili-pepper-vegetables-tomatoes-and-garlic-on-on-stone-surface-top-view-1@2x.jpg 2x
                  " />
                <img
                  src="./images/recepts-desktop/x1/red-hot-chilli-sauce-tomato-ketchup-chilli-sauce-puree-with-chili-pepper-vegetables-tomatoes-and-garlic-on-on-stone-surface-top-view_1.jpg"
                  alt="sauce spicy v2"
                  class="products__img"
              /></picture>
            </div>
            <div class="products__content">
              <h3 class="products__sub-title">Spicy sauce</h3>
              <p class="products__text">
                For thrill-seekers, we added hot chili pepper to our sauce, it
                also reveals all the tastes and aromas of the sauce well.
              </p>
              <button
                class="products__btn btn"
                type="button"
                onclick="openModal()"
              >
                Buy now
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <a class="forward" onclick="plusSlide(-1)"
      ><svg class="forward__icon">
        <use href="./images/symbol-defs.svg#icon-ep_arrow-right"></use></svg></a
    ><a class="backward" onclick="plusSlide(1)"
      ><svg class="forward__icon">
        <use href="./images/symbol-defs.svg#icon-ep_arrow-right"></use></svg
    ></a>
  </div>
</section>
