<section class="section recipes" id="recipes">
  <div class="container container--padding">
    <h2 class="hidden">Recipes</h2>
    <ul class="recipes__list">
      <li class="recipes__item recipes__item--top">
        <div>
          <div class="recipes__video">
            <iframe
              class="recipes__iframe"
              src="https://www.youtube.com/embed/nXE5IplkJI0"
              title="YouTube video player"
              frameborder="0"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
              allowfullscreen
            ></iframe>
          </div>
          <h3 class="recipes__title">Tomato paste</h3>
        </div>
      </li>
      <li class="recipes__item">
        <div>
          <div class="recipes__video">
            <iframe
              class="recipes__iframe"
              src="https://www.youtube.com/embed/JkYwSddTdew"
              title="YouTube video player"
              frameborder="0"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
              allowfullscreen
            ></iframe>
          </div>
          <h3 class="recipes__title">Bell pepper pasta</h3>
        </div>
      </li>
    </ul>
  </div>
</section>
